/* This is for Font implementation */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1{
    font-family: "Poppins", serif;
    font-weight: 800;
}
p{
    font-family: "Poppins", serif; 
    font-weight: 400;
}