@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{  
    font-family: "Poppins", serif;
}

ul{
    display: inline;
}
a{
    color: black;
}

#nav{
    background-color:#ccc;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

div.main{
    margin: 20px;
}

h3.home{
    padding-top: 10px;
    padding-bottom: 0px;
}